<div id="bg">
    <div>
        <div style="padding-top: 4%; width:50%; padding-left: 2%">
            <h3>Vous n'entendez pas toute la musique</h3>
        
            <p >Beats by Dr. Dre (Beats) est une marque audio fondée en 2006 par Dr. Dre et Jimmy Iovine. Grâce à sa gamme de casques, écouteurs et enceintes de qualité exceptionnelle, Beats a ouvert à toute une nouvelle génération les portes d'accès à un son premium. Le succès continu de la marque aide à restituer l'énergie, l'émotion et l'enthousiasme du studio d'enregistrement aux mélomanes du monde entier. Beats a été acquis par Apple Inc. en juillet 2014. </p>
        </div>
        <div style=" padding-left: 2%; padding-right: 2%;">
            <h3 style="width:50%">Beats Electronics, LLC Liste des marques déposées</h3>

            <h6>Beats Electronics, LLC est une filiale d'Apple, Inc.</h6>

            <p>Ci-dessous figure une liste non exhaustive des marques déposées et marques de service de Beats Electronics, LLC. </p>
            <p>Une marque déposée peut être un mot, une phrase, un symbole ou un dessin qui distingue la source des marchandises ou des services. N'oubliez pas que les marques déposées sont des adjectifs ; elles doivent par conséquent être précédées d'un terme générique (par exemple, casque, écouteurs, enceinte) et ne doivent pas être utilisées en tant que verbes, possessifs ou au pluriel. <br></p> 
            <p>Pour toute référence à une version d'un produit Beats, le numéro ou symbole correspondant doit figurer en exposant, comme dans « Powerbeats2 sans fil » ou « Beats Pill+ ». <br></p>
        </div>
         
    </div>
</div>
    