<h1>Contact</h1>

<div>
    <h2>Remplissez ce formulaire</h2>
    <form method="post" action="#" name="inscription" autocomplete="on">
    <p>
        <label for="nom">Nom :</label>
        <input type="text" id="Nom" name="nom" placeholder="votre nom svp...">
    </p>
    <p>
        <label for="Prenom">Prénom :</label>
        <input type="text" id="Prenom" name="Prenom" placeholder="votre Prénom svp...">
    </p>
    <p>
        <label for="birth">Date de naissance :</label>
        <input type="date" id="date" name="date" placeholder="votre date de naissance svp...">
    </p>
    <p>
        <label for="Password">Mot de passe :</label>
        <input type="password" id="pass" name="pass" placeholder="votre Mot de passe svp...">
    </p>
    <p>
        <label for="email">Adresse email :</label>
        <input type="email" id="email" name="email"/>
    </p>
    <p>
        
    <label>
        <input name="group1" type="radio" checked />
        <span>Homme</span>
    </label><br>
    <label>
        <input name="group1" type="radio" checked />
        <span>Femme</span>
    </label>
    </p>
    <p>
        <label for="info">Informations complémentaires :</label><br>
        <textarea type="info" rows="10" cols="50"> </textarea>
    </p>
    <div>
        <legend>Matières étudiées</legend>
        <p>
            <label>
                <input type="checkbox" />
                <span>Html</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" />
                <span>CSS</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" />
                <span>Java Script</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" />
                <span>PHP</span>
            </label>
        </p>
    </div>
    <p>
        <input type="file" id="fichier" name="fichier">Telechargez
    </p>
    <p>
        <input type="submit" value="Envoyer">
        <input type="reset" value="Annuler">
    </p>

    <h2>
        Nous contacter
    </h2>
    <p>
        Pour toutes informations complementaires, n'hésitez pas à nous contacter
    </p>
    <h2>
        Nos bureaux : AFPA de Creteil
    </h2>
    <address>
    <p>9 Rue Marc Seguin</p>
    <p>94000 Creteil</p>
    <p>Tel : 020313514103055</p>
    </address>
    </form>
</div>